.button {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  float: left;
  background-color: #00ff00;
  color: #000000;
  font-size: 20px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.red_button {
  background-color: #FF0000;
}

#maze {
  background-color: #dddddd;
  padding: 5px;
  border-radius: 5px;
  float: left;
}

#buttons {
  float: left;
  padding: 10px;
}

#buttons h2 {
  line-height:0px;
}

.row {
  height: 20px;
  user-select: none;
}

span.cell {
  width: 8px;
  height: 20px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  text-align: center;
  font-size: 20px;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #000000;
}

span.beam {
  color: #cccccc;
}

span.laser {
  color: #FF0000;
}