@keyframes flash {
  from {
    color: #ff0000;
  }
  to {
    color: #000000;
  }
}

.button {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  float: left;
  background-color: #00ff00;
  color: #000000;
  font-size: 20px;
}

#maze {
  background-color: #dddddd;
  padding:5px;
  border-radius: 5px;
}

.row {
  height: 20px;
  user-select: none;
}

span.cell {
  width: 8px;
  height: 20px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  text-align: center;
  font-size: 20px;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #000000;
}

span.flash {
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

span.laser {
  color: #666666;
}